<section class="TodoSection">
  <div class="TodoSection-title">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
        <%= form_with(url: "/todos/#{todo.id}", method: "put")  do %>
          <input type="checkbox"
          name="completed"
          class="TodoItem-checkbox"
          <%= todo.completed ? "checked" : "" %>
          onclick="this.form.submit()"
          >
          <input type="submit" value="Update">
        <% end %>
        <p class='<%= todo.completed ? "TodoItem-text TodoItem-completed" : "TodoItem-text" %>'>
              <%= todo.todo_text %>
            </p>
          <% if show_date %>
          <p class="TodoItem-duedate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <%= form_with(url: "/todos/#{todo.id}", method: "put")  do %>
          <a class="TodoItem-delete" href="javascript:void(0)"><input type="image" src="trashcan.svg"></a>
          <% end %>
        </label>
      </li>
    <% end %>
    </ul>
</section>
