<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<br><br><br>
	<% if @current_user %>
	<p class="UserHeader">Welcome <%= @current_user.first_name %></p>
	<% end %>
  <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.php">Todo Manager App</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
				<li><a href="about.php"><span class="glyphicon glyphicon-info-sign"></span>About Us</a></li>
				<li><a href="changepassword.php"><span class="glyphicon glyphicon-cog"></span>Change Password</a></li>
				<li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
				</ul>
			</div>
	</div>
</div>
<br><br><br>
    <%= yield %>
  <footer class="navbar-fixed-bottom">
	<div class="container">
		<center>
			<p>Copyright © ToDo Manager. All Rights Reserved | Contact Us: +91-9870661375</p>
		</center>
	</div>
</footer>
  </body>
</html>
